##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [91]:
def smallest_of_two_evens(a,b):
    if a%2 ==0 and b%2 == 0 :    #if a and b are both remainder 0 when div by 2 they botth even. then compare and return smaller. if not even BOTH , return larger.
      if a > b :
        return b
      else :
        return a
    else :
      if a > b :
        return a
      else :
        return b

In [92]:
# Check1
smallest_of_two_evens(2,4)

2

In [93]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [94]:
def word_crackers(word1,word2):
   if word1[0] == word2[0] :    # we do index for first char # we compare if equal
     return True  # if yes return true
   else :
     return False # if no return flase

In [95]:
# Check1
word_crackers('Lion', 'Lady')

True

In [96]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [97]:
def sum_twenty(n1,n2):
    if n1 == n2 or n1 + n2 == 20 :
      return True
    else :
      return False

In [17]:
# Check1
sum_twenty(20,10)

False

In [18]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [35]:
def cap_first_four(name):
  for letter in range(len(name)):
    if letter == 0 or letter == 3 :
      print(name[letter].upper(),end="")
    else :
      print(name[letter],end="")

In [70]:
# Check
cap_first_four('macdonald')

MacDonald

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [67]:
def rev_words(text):
    word_list = text.split()       # split entire thing make it a list
    reverse_word_list = word_list[::-1]   # reverse order
    return " ".join(reverse_word_list)   # join

In [68]:
rev_words("i am home")

'home am i'

In [69]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [83]:
def nearest_num(n):
  return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10)) # i got help with the abs

In [84]:
# Check1
nearest_num(104)

True

In [85]:
# Check2
nearest_num(150)

False

In [86]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [75]:
def contains_two_samevalues(nums):
  for i in range(len(nums)-1):
    if nums[i] == nums[i+1]: # if current number in the iteration we have has
      return True       # return true
  return False     # return false

In [76]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [77]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [78]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [90]:
def repeat_three(text):
    for letter in range(len(text)):   # loop where it iterates over index position of text
      print(text[letter]*3,end="") # it multiplies every letter by thrice and prints thrice
      # SO IMPORTANT ====== THE "end="" IS SO IT DOESNT PRINT NEW LINES EVERYTIME

In [72]:
# Check1
repeat_three('Hello')

HHHeeellllllooo

In [73]:
# Check2
repeat_three('Mississippi')

MMMiiissssssiiissssssiiippppppiii

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [88]:
def count_primes(num):   # this question was hard i couldnt solve it myself

# i wanted to check every single unit if its prime or not
    count = 0    # Loop through each number from 2 up to and including 'num'
    for n in range(2, num + 1):
        is_prime = True # Assume the number is prime
        for i in range(2, n):# Check if the number is divisible by any smaller number
            if n % i == 0:    # If divisible, it's not prime
                is_prime = False
                break  # No need to check further
        if is_prime:
            count += 1


    return count

In [98]:
# Check1
count_primes(100)

25