##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print ("Name : Angela")
print ("City : New York")

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:

print( 'Emergency Alert \n NEWS : FLASH FLOOD WARNING this area till 7:00 PM')

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [16]:
user_number = int (input("please enter your number"))
n = user_number/2
print(n)
x = n / 2
print(int(x))
y = x / 2
print(int(y))

please enter your number2000
1000.0
500
250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [18]:
x =1
z = 2
y = 3
print(x**z) # we use ** to do the power
print(x**y) # we use ** to do the power
print(x-y) # we use - to substract
print(x%z) # we use % to do remainders

1
1
-2
1

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [19]:
total = 4 * 0.25 + 3* 0.10 + 2* 0.05 + 0.01 # wrote down simply
print(total) # prints total

1.4100000000000001

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [ ]:
string = "Python" # we name a string 'string' and we name its value python
print(string[5]) # from fifth index we print it

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [21]:
word = 'Python'
print(word[2:5])
  # simple slicing man

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [22]:
string = "Python Class" # we name a string string and we name its value python class
print(string[7:]) # from seventh index till the end we print it

Class

9 - Find the length of the String  **Welcome to Pace University**

In [23]:
count = 0
for i in "Welcome to Pace University" :
  count += 1
print(count)

26

10 - Split the String  **Welcome to Pace University**  into words

In [24]:
string = "Welcome to Pace University"
print(string.split())

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [25]:
words = "Artificial intelligence"

for letter in words :
  if letter == "i" :
    print("o")         # we go letter by letter search for i
                        # if it is i MAKE IT O
  else :
    print(letter)

A
r
t
o
f
o
c
o
a
l

o
n
t
e
l
l
o
g
e
n
c
e

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [26]:
data = "DATA science"
data = data.lower()
print(data)

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [27]:
thing = "DATA Science"
print(thing.upper())

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [28]:


AI = "Artificial intelligence" # name it
AI = AI[::-1]    # i remember the "::-1" tricks
print(AI)

ecnegilletni laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [ ]:
if 150 > 225:
  print("150 is greater than 225")     #all of it is simple if statments
if 150 == 225:
    print("150 and 225 are equal")
if 150 < 225:
  print("150 is less than 225")
if 150 >= 225:
    print("150 is greater than or equal to 225")
if 150 <= 225:
    print("150 is less than or equal to 225")

150 and 225 are not equal
150 is less than 225
150 is not greater than or equal to 225
150 is less than or equal to 225

###Lists

16 - Create a **list** of **lists** of integers elements

In [29]:
ListNum = [ [1,2,3],[1,3,3]]

17 - Create a **list** of **lists** of Text elements

In [31]:
ListLists = [['a','b'],"okkk",['d', 'f', 'd']]     #list of lists of strings texts