##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print ("Name : Angela")
print ("City : New York")

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:

print( 'Emergency Alert \n NEWS : FLASH FLOOD WARNING this area till 7:00 PM')

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [3]:
user_number = int(input("please enter your number"))
n = int(user_number/2)
print(int(n))
x = int ( n / 2)
print(int(x))
y = int (x / 2)
print(int(y))

please enter your number2000
1000
500
250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [ ]:

print(x**z)
print(x**y)
print(x-y)
print(x%z)

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

7 - Given the string **Python**, with the help of slicing get,  **tho**.

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

9 - Find the length of the String  **Welcome to Pace University**

10 - Split the String  **Welcome to Pace University**  into words

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

14 - reverse the given String  **Artificial intelligence**

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [4]:
if 150 > 225:
  print("150 is greater than 225")
if 150 == 225:
    print("150 and 225 are equal")
if 150 < 225:
  print("150 is less than 225")

if 150 >= 225:
    print("150 is greater than or equal to 225")
else:
    print("150 is not greater than or equal to 225")
if 150 <= 225:
    print("150 is less than or equal to 225")
else:
    print("150 is not less than or equal to 225")

150 and 225 are not equal
150 is less than 225
150 is not greater than or equal to 225
150 is less than or equal to 225

###Lists

16 - Create a **list** of **lists** of integers elements

In [ ]:
ListNum = [ [1,2,3],1]

17 - Create a **list** of **lists** of Text elements

In [ ]:
ListLists = [['a','b'],"okkk",['d', 'f', 'd']]